/*--------------------- Title Styling --------------------*/
.text-center {
    margin-bottom: 60px;
}

/*--------------------- Gallery Styling--------------------*/
.gallery-container {
    padding: 30px;
    width: fit-content;
}

.image-caption {
    background-color: #007bff;
    color: white;
    text-align: center;
}

.image-container {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 15px #aaa;
    /* Smooth transition for 3D effect and shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img {
    width: 250px;
    height: 230px;
    object-fit: cover;
    overflow: hidden;
}


.image-container:hover {
    /* Move up the container on hover */
    transform: translateY(-10px);
    /* Enhanced shadow on hover for more depth */
    box-shadow: 10px 10px 20px #888;
}


.scale {
    /* Responsive Images */
    width: 100%;
    height: auto;
}
