body {
    font-family: 'Lato', sans-serif;
}

.carousel {
    width: 700px;
    margin: auto;
    /* Center the carousel */
    border: 3px solid #333;
    box-shadow: 0 4px 8px #333;
    border-radius: 15px;
    overflow: hidden;
    /* Keep everything neat */
}

.carousel-inner,
.carousel-item,
.carousel-item img {
    height: 550px;
    width: 700px;
}

.carousel-fade .carousel-inner .carousel-item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #AA094B;
}

.carousel-indicators li {
    background-color: #BEA5A9;
}

.carousel-indicators .active {
    background-color: #AA094B;
}

@media all and (transform-3d),
(-webkit-transform-3d) {

    .carousel-fade .carousel-inner>.carousel-item.next,
    .carousel-fade .carousel-inner>.carousel-item.active.right {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }

    .carousel-fade .carousel-inner>.carousel-item.prev,
    .carousel-fade .carousel-inner>.carousel-item.active.left {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }

    .carousel-fade .carousel-inner>.carousel-item.next.left,
    .carousel-fade .carousel-inner>.carousel-item.prev.right,
    .carousel-fade .carousel-inner>.carousel-item.active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.html,
.body,
.carousel,
.carousel-inner,
.carousel-item {
    height: 100%;
}