{% extends "base.html" %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

{% if own_profile %}
<div class="container">
    <h2>My Profile</h2>
    <p>Welcome, {{ user.username }}!</p>
    {% if profile.featured_image %}
    <img src="{{ profile.featured_image.url }}" alt="Profile Image">
    {% else %}
    <img src="{% static 'images/profile-default-image.jpg' %}"
        alt="Default Profile Image">
    {% endif %}
    <p>Email: {{ user.email }}</p>
    <p>About Me: {{ user.profile.about_me }}</p>
    {% if profile.city or profile.state %}
    <p>Location: {{ profile.city }}, {{ profile.state }}</p>
    {% else %}
    <p>Location: Not Set</p>
    {% endif %}
    <h3>My Products</h3>
    {% for product in user.products.all %}
    <div>
        <a href="{% url 'product-detail' product.slug %}">
            {{ product.title }}</a> - {{ product.description }}
    </div>
    {% empty %}
    <p>You have not added any products yet.</p>
    {% endfor %}

    <a href="{% url 'edit-profile' %}" class="btn btn-primary">Edit Profile</a>
    <a href="{% url 'delete-account' %}" class="btn btn-danger">Delete
        Account</a>
    <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
</div>
{% else %}
<div class="container">
    <h2>Viewing {{ product.seller.profile.username }}'s profile.</h2>
    <img src="{% static 'users/images/default-profile-image.webp' %}"
        alt="Profile image">
    <p>Email: {{ product.seller.profile.user.email }}</p>
    <p>About Me: {{ user.profile.about_me }}</p>
    {% if product.seller.user.profile.city %}
    <p>Location: {{ product.seller.profile.city }}, {{ product.seller.profile.state }}</p>
    {% else %}
    <p>Location: Not set</p>
    {% endif %}
    <h3>{{ product.seller.profile.user.username }}'s Products</h3>
    {% for product in profile.user.products.all %}
    <div>
        <a href="{% url 'product-detail' product.slug %}">
            {{ product.title }}</a> - {{ product.description }}
    </div>
    {% empty %}
    <p>They have not added any products yet.</p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}