{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<article>
    <h1>{{ product.title }}</h1>
    <div>
    {% if product.featured_image %}
    <img class="card-img-top" src="{{ product.featured_image.url }}"
        alt="{{ product.title }}">
    {% else %}
    <img class="card-img-top"
        src="{% static 'products/images/product-default-image.jpg' %}"
        alt="Default Image">
    {% endif %}
    </div>
    <p>Category: {{ product.get_category_display}}</p>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }} €</p>
    <p>Seller: <a href="{% url 'user-profile' username=product.seller.username %}">{{ product.seller.username }}</a></p>
    {% if product.seller.profile.city or product.seller.profile.state %}
    <p>Location: {{ product.seller.profile.city }}, {{ product.seller.profile.state }}</p>
    {% else %}
    <p>Location: Not Set</p>
    {% endif %}
    <p>Status: {{ product.get_status_display }}</p>
    {% if product.availability == 0 %}
    <p>This product is available.</p>
    {% elif product.availability == 1 %}
    <p>This product is reserved.</p>
    {% else %}
    <p>This product is sold.</p>
    {% endif %}
    {% if user.is_authenticated %}
    <form action="{% url 'add-to-wishlist' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Add to Wishlist</button>
    </form>
    {% endif %}
    {% if user.is_authenticated and user == product.seller %}
    <a href="{% url 'product-update' slug=product.slug %}"
        class="btn btn-primary">Edit</a>
    <a href="{% url 'product-delete' slug=product.slug %}"
        class="btn btn-danger">Delete</a>
    {% endif %}
</article>
{% endblock %}