{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'products/css/products-style.css' %}">

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show"
    role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert"
        aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<!-- Sorting Options -->
<div class="sorting-options text-center mb-3">
    <a href="?sort=price_asc"
        class="btn btn-outline-primary {% if request.GET.sort == 'price_asc' %}active{% endif %}">Price
        Low to High</a>
    <a href="?sort=price_desc"
        class="btn btn-outline-primary {% if request.GET.sort == 'price_desc' %}active{% endif %}">Price
        High to Low</a>
    <a href="?sort=date_asc"
        class="btn btn-outline-primary {% if request.GET.sort == 'date_asc' %}active{% endif %}">Oldest
        First</a>
    <a href="?sort=date_desc"
        class="btn btn-outline-primary {% if request.GET.sort == 'date_desc' %}active{% endif %}">Newest
        First</a>
</div>

<!-- Product Listing -->
<section>
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-6">
                <div class="product-card">
                    <div class="image-container">
                        <img src="{{ product.featured_image.url }}"
                            alt="{{ product.title }}" class="img-fluid">
                    </div>
                    <h2><a href="{% url 'product-detail' product.slug %}">
                        {{ product.title }}</a></h2>
                    <p>Category: {{ product.get_category_display }}</p>
                    <p>{{ product.description }}</p>
                    <p>Price: {{ product.price }} €</p>
                    <p>Seller: <a
                            href="{% url 'user-profile' username=product.seller.username %}">
                            {{ product.seller.username }}</a></p>
                    {% if product.seller.profile.city or product.seller.profile.state %}
                    <p>Location: {{ product.seller.profile.city }},
                        {{ product.seller.profile.state }}</p>
                    {% else %}
                    <p>Location: Not Set</p>
                    {% endif %}
                    <p>Status: {{ product.get_status_display }}</p>
                    <p>Availability: {{ product.get_availability_display }}</p>
                    <p>Posted on: {{ product.created_at|date:"Y-m-d H:i" }}</p>
                </div>
            </div>
            {% empty %}
            <p>No products found.</p>
            {% endfor %}
</section>

<!-- Pagination Controls -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <!-- With Ensurance that Sorting Persists with Pagination -->
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link"
                href="?page=1{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">&laquo;
                First</a></li>
        <li class="page-item"><a class="page-link"
                href="?page={{ page_obj.previous_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">Previous</a>
        </li>
        {% endif %}
        <li class="page-item disabled"><span class="page-link">Page
                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link"
                href="?page={{ page_obj.next_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">Next</a>
        </li>
        <li class="page-item"><a class="page-link"
                href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">&raquo;
                Last</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}