{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'products/css/product_create.css' %}">
{% endblock %}

{% block content %}

<!-- Alert Messages -->
{{ form.non_field_errors }}
{{ formset.non_form_errors }}
{% for field in form %}
{{ field.errors }}
{% endfor %}
{% for form in formset %}
{% for field in form %}
{{ field.errors }}
{% endfor %}
{% endfor %}

<!-- Add Product Form -->
<div class="product-container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2>Add New Product</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!--  Title Field -->
                <div class="form-group">
                    <label for="id_title">Title</label>
                    <input type="text" class="form-control" id="id_title" name="title"
                        placeholder="Enter product title" required>
                        {{ form.title.errors }}
                </div>

                <!-- Featured Image Upload Section -->
                <div class="form-group">
                    <label for="id_featured_image">Main Image</label>
                    <input type="file" class="form-control-file" id="id_featured_image" name="featured_image">
                    <div id="featured_image_preview" class="image-preview">
                        <img class="card-img-top" src="{{ product.featured_image.url }}" alt="{{ product.title }}">
                    </div>
                    {{ form.featured_image.errors }}
                </div>


                <!-- Additional Images Upload Section -->
                <label>Additional Images</label>
                {{ formset.management_form }}
                <div id="additional_images_preview" class="row">
                    {% for form in formset %}
                    <div class="col-sm-3 additional-image">
                        {{ form.image }}
                        <div class="image-preview">
                            <img id="img_preview_{{ forloop.counter0 }}" class="img-fluid img-thumbnail" />
                        </div>
                        {{ form.image.errors }}
                    </div>
                    {% endfor %}
                </div>

                <!-- Category Field -->
                <div class="form-group">
                    <label for="id_category">Category</label>
                    <select class="form-control" id="id_category" name="category">
                        <option value="0">Electronics</option>
                        <option value="1">Fashion and Apparel</option>
                        <option value="2">Home and Garden</option>
                        <option value="3">Sports and Outdoors</option>
                        <option value="4">Toys and Games</option>
                        <option value="5">Books and Media</option>
                        <option value="6">Pet Supplies</option>
                        <option value="7">Other</option>
                    </select>
                </div>

                <!-- Description Field -->
                <div class="form-group">
                    <label for="id_description">Description</label>
                    <textarea class="form-control" id="id_description" name="description" rows="3"
                        placeholder="Enter product description"></textarea>
                </div>

                <!-- Price Field -->
                <div class="form-group">
                    <label for="id_price">Price</label>
                    <div class="input-group">
                        <input type="text" pattern="[0-9]+([,\.][0-9]{1,2})?" step="0.10" class="form-control"
                            id="id_price" name="price" placeholder="0.00" required>
                        <div class="input-group-append">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>
                </div>

                <!-- Status Field -->
                <div class="form-group">
                    <label for="id_status">Status</label>
                    <select class="form-control" id="id_status" name="status">
                        <option value="0">Used</option>
                        <option value="1">New</option>
                        <option value="2">Handmade</option>
                    </select>
                </div>

                <!--  Avalibility Field -->
                <div class="form-group">
                    <label for="id_status">Availability</label>
                    <select class="form-control" id="id_status" name="availability">
                        <option value="0">Available</option>
                        <option value="1">Reserved</option>
                        <option value="2">Sold</option>
                    </select>
                </div>

                <!-- Form Controls -->
                <div class="form-group d-flex justify-content-between align-items-center mt-4">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="{% url 'product-list' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'products/js/product_create.js' %}"></script>
{% endblock %}