{% extends 'base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<!-- Sorting Options -->
<div class="sorting-options">
    <a href="?sort=price_asc"
        class="{% if request.GET.sort == 'price_asc' %}active{% endif %}">Price
        Low to High</a> |
    <a href="?sort=price_desc"
        class="{% if request.GET.sort == 'price_desc' %}active{% endif %}">Price
        High to Low</a> |
    <a href="?sort=date_asc"
        class="{% if request.GET.sort == 'date_asc' %}active{% endif %}">Oldest
        First</a> |
    <a href="?sort=date_desc"
        class="{% if request.GET.sort == 'date_desc' %}active{% endif %}">Newest
        First</a>
</div>

<section>
    {% for product in products %}
    <article>
        <h2><a href="{% url 'product-detail' product.slug %}">
                {{ product.title }}</a></h2>
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.title }}"
            style="width:100px; height:auto;">
        {% endif %}
        <p>Category: {{ product.get_category_display}}</p>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }} €</p>
        <p>Seller: <a href="{% url 'user-profile' username=product.seller.username %}">{{ product.seller.username }}</a></p>
        {% if product.seller.profile.city or product.seller.profile.state %}
        <p>Location: {{ product.seller.profile.city }}, {{ product.seller.profile.state }}</p>
        {% else %}
        <p>Location: Not Set</p>
        {% endif %}
        <p>Status: {{ product.get_status_display }}</p>
        <p>Availability: {{ product.get_availability_display }}</p>
        {% if user.location %}

        {% endif %}
        <p>Posted on: {{ product.created_at|date:"Y-m-d H:i" }}</p>
    </article>
    {% empty %}
    <p>No products found.</p>
    {% endfor %}
</section>

<!-- Pagination Controls -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <!-- Ensure Sorting Persists with Pagination -->
        <a
            href="?page=1{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">&laquo;
            first</a>
        <a
            href="?page={{ page_obj.previous_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a
            href="?page={{ page_obj.next_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">next</a>
        <a
            href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">last
            &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}