{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Product</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <fieldset>
            <legend>Product Images</legend>
            {{ formset.management_form }}
            {% for form in formset %}
            {{ form.as_p }}
            {% endfor %}
        </fieldset>
        <button type="submit" class="btn btn-primary" value="update">Update</button>
        <a href="{% url 'product-list' %}" class="btn btn-secondary" aria-label="cancel">Cancel</a>
    </form>
</div>
{% endblock %}