{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>{% if form.instance.pk %}Edit Product{% else %}Add New Product{% endif %}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <fieldset>
            <legend>Product Images</legend>
            {{ formset.management_form }}
            {% for form in formset %}
            {{ form.as_p }}
            {% endfor %}
        </fieldset>
        <button type="submit" class="btn btn-primary">
            {% if form.instance.pk%}Update{% else %}Submit{% endif %}</button>
    </form>
</div>
{% endblock %}