{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'products/css/image_section.css' %}">
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="container my-4">
    <div class="row">
        <!-- Images Section using Bootstrap Carousel with Fade Effect -->
        <div class="col-md-6">
            <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ product.featured_image.url }}" alt="{{ product.title }}" class="d-block w-100">
                    </div>
                    {% for image in product.images.all %}
                    <div class="carousel-item">
                        <img src="{{ image.image.url }}" alt="Product Image" class="d-block w-100">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!-- Product's Details Section -->
        <div class="col-md-6">
            <div class="product-details">
                <h1>{{ product.title }}</h1>
                <p>Category: {{ product.get_category_display}}</p>
                <p>{{ product.description }}</p>
                <p>Price: {{ product.price }} €</p>
                <p>
                    Seller:
                    <a href="{% url 'user-profile' username=product.seller.username %}">
                        {{ product.seller.username }}</a>
                </p>
                {% if product.seller.profile.city or product.seller.profile.state %}
                <p>Location: {{ product.seller.profile.city }}, {{ product.seller.profile.state }}</p>
                {% else %}
                <p>Location: Not Set</p>
                {% endif %}
                <p>Status: {{ product.get_status_display }}</p>
                {% if product.availability == 0 %}
                <p>This product is available.</p>
                {% elif product.availability == 1 %}
                <p>This product is reserved.</p>
                {% else %}
                <p>This product is sold.</p>
                {% endif %}
                
                <span>
                    <!-- Wishlist Control-->
                    {% if user.is_authenticated %}
                    <form action="{% url 'add-to-wishlist' product.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Add to Wishlist</button>
                    </form>
                    {% endif %}

                    <!-- Start Conversation Button -->
                    {% if user.is_authenticated %}
                    <a href="{% url 'start_conversation' product_slug=product.slug %}"
                        class="btn btn-primary">Interstead in {{ product.title }}? </a>
                    {% endif %}

                    <!-- Update and Delete Controls-->
                    {% if user.is_authenticated and user == product.seller %}
                    <a href="{% url 'product-update' slug=product.slug %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'product-delete' slug=product.slug %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <!-- Conversation Section -->
    <div class="row">
        <div class="col-12">
            <div class="conversation-section">
                <h2>Conversations about {{ product.title }}</h2>
                <div>
                    {% for conversation in conversations %}
                    <div>
                        <p>Topic: {{ conversation.topic }}</p>
                        <ul>
                            {% for message in conversation.messages.all %}
                            <div>
                                <strong>{{ message.sender.username }}:</strong>
                                <p>{{ message.text }}</p>
                                <p>{{ message.sent_at }}</p>
                            </div>
                            {% endfor %}
                        </ul>

                        <h2>Send a new message</h2>
                        <form method="post">
                            {% csrf_token %}
                            <textarea name="message" rows="4" cols="50"></textarea>
                            <button type="submit">Send</button>
                        </form>
                        <a href="{% url 'conversation_detail' conversation_id=conversation.id %}">View
                            Details</a>
                    </div>
                    {% empty %}
                    <p>No conversations for this product.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'products/js/image_section.js' %}"></script>
{% endblock %}